body {
  width: 100%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  width: 90%;
}

.nav-left {
  display: flex;
  gap: 60px;
}

.logo {
  color: #0fab5f;
  font-size: xx-large;
  font-weight: bold;
  text-decoration: none;
  font-family: inter;
  align-items: center;
}

.manu,
.manu a {
  display: flex;
  gap: 40px;
  align-items: center;
  font-family: inter;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}


.nav-right {
  display: flex;
  justify-content: space-between;
  gap: 10px
}

.social-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social-icon i {
  color: white;
  background-color: #0fab5f;
  padding: 8.5px 7px;
  border-radius: 50%;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

}

.btn i {
  font-size: 16px;
  padding: 8.5px 7px;
  color: #0fab5f;
  border: solid 2px #0fab5f;
  border-radius: 50%;
  cursor: pointer;
}

.Subscrib {
  font-family: inter;
  color: white;
  background-color: #0fab5f;
  padding: 9px 30px;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(images/bg.png);
  margin: 0 60px;
  border-radius: 100px;
  text-align: center;
}

.hero-icon {
  font-size: 5.75rem;
  color: #0fab5f;
}

.hero-content {
  margin: 0 auto;
}

.hero-content q {
  font-family: inter;
  font-size: 3.125rem;
  font-weight: 700;

}

.hero-content p {
  font-family: inter;
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 45px;
}

.hero-btn {
  text-decoration: none;
  color: white;
  background-color: #0fab5f;
  padding: 12px 35px;
  font-family: inter;
  font-size: 1.12rem;
  font-weight: 700;
  border-radius: 18px;


}

.hero-image {
  padding: 60px 60px;
  max-width: 600px;
}

.hero-image img {
  width: 100%;
  border-radius: 60px;

}

.about-us {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  gap: 110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.image-section {
  display: block;
  width: 50%;
}

.image-A img {
  width: 80%;
  border-radius: 40px;
  margin-left: 1px;

}

.image-B img {
  border-radius: 60px;
  width: 50%;
  margin: -320px 0px 0px 320px;
  border: solid 20px white;
}

.about-content {
  width: 50%;
  margin-right: 110px;
}

.about-content span {
  font-family: inter;
  font-size: 1.4rem;
  font-weight: 600;
  color: #0fab5f;
}

.about-content h2 {
  font-family: inter;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
}

.about-content p {
  font-family: inter;
  font-size: 1.15rem;
  line-height: 30px;
  color: #525252;
}

.abut-btn {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;

}

.call-btn {
  text-decoration: none;
  color: #0fab5f;
  font-family: inter;
  font-size: 1.12rem;
  font-weight: 700;
  border-radius: 18px;
  border: solid 2px #0fab5f;
  padding: 6px 18px;
  cursor: pointer;
}

.call-btn p {
  color: #0fab5f;
  margin: 0;
}

.service {
  padding: 120px;
}

.service-content {
  text-align: center;
}

.service-content span {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: inter;
  color: #0fab5f;
  line-height: 30px;
}

.service-content h2 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: inter;
  line-height: 30px;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 380px;
  padding: 40px;
  box-shadow: 0px 2px 8px 0px rgba(0, 12, 55, 0.13);
  border-radius: 40px;
  margin: 10px 15px 20px 10px;

}

.card span {
  font-family: inter;
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 50px;
  display: flex;
  justify-content: right;
  margin: -25px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e3e2e2;
  color: transparent;
}

.card i {
  font-size: 3rem;
  color: #0fab5f;
  background-color: #b8e6d056;
  padding: 25.5px 21px ;
  border-radius: 100px;

}
.card h3{
  text-transform: capitalize;
  font-family: inter;
  font-size: 1.75rem;
  font-weight: 700;

}

.card p {
  font-family: inter;
  font-size: 1.1rem;
  font-weight: 400;
  color: #625F71;
  line-height: 25px;
}
.card a {
  text-decoration: none;
  font-family: inter;
  font-size: 1.12rem;
  font-weight: 700px;
  color: #0fab5f;
}

.support {
  align-items: center;
  color: white;
  text-align: left;
  padding: 100px 150px;
  background:  url(images/funfact-bg.jpg) no-repeat center/cover;
}

.support h2{
  
 font-family: inter;
 font-size: 4rem;
 font-weight: 700;
 margin-bottom: 10px;
}
.support p {
  font-family: inter;
  font-size: 1.12;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 30px;
  
}

.info-box{
  display: flex;
  justify-content: left;
  gap: 40px;
}

.info span{
  font-family: inter;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0;
 
}
.info p{
  font-family: inter;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 40px;
}
