body {
  width: 100%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  width: 90%;
}

.nav-left {
  display: flex;
  gap: 60px;
}

.logo {
  color: #0fab5f;
  font-size: xx-large;
  font-weight: bold;
  text-decoration: none;
  font-family: inter;
  align-items: center;
}

.manu,
.manu a {
  display: flex;
  gap: 40px;
  align-items: center;
  font-family: inter;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}


.nav-right {
  display: flex;
  justify-content: space-between;
  gap: 10px
}

.social-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social-icon i {
  color: white;
  background-color: #0fab5f;
  padding: 8.5px 7px;
  border-radius: 50%;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

}

.btn i {
  font-size: 16px;
  padding: 8.5px 7px;
  color: #0fab5f;
  border: solid 2px #0fab5f;
  border-radius: 50%;
  cursor: pointer;
}

.Subscrib {
  font-family: inter;
  color: white;
  background-color: #0fab5f;
  padding: 9px 30px;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(images/bg.png);
  margin: 0 60px;
  border-radius: 100px;
  text-align: center;
}

.hero-icon {
  font-size: 5.75rem;
  color: #0fab5f;
}

.hero-content {
  margin: 0 auto;
}
.hero-content q{
  font-family: inter;
  font-size: 3.125rem;
  font-weight: 700;

}
.hero-content p{
  font-family: inter;
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 45px;
}

.hero-btn{
  text-decoration: none;
  color: white;
  background-color: #0fab5f;
  padding: 12px 35px;
  font-family: inter;
  font-size: 1.12rem;
  font-weight: 700;
  border-radius: 18px;
  

}
.hero-image {
  padding: 60px 60px;
  max-width: 600px;
}

.hero-image img {
  width: 100%;
  border-radius: 60px;

}

.about-us{
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  gap: 110px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.image-section{
  display: block;
  width: 50%;
}

.image-A img{
  width: 80%;
  border-radius: 60px;
  margin-left: -80px;

}

.image-B img{
  border-radius: 60px;
  width: 50%;
  margin: -380px 0px 0px 320px;
  border: solid 20px white;
}

.about-content{
  width: 50%;
}

.about-content span {
  font-family: inter;
  font-size: 1.4rem;
  font-weight: 600;
  color: #0fab5f;
}
.about-content h2{
  font-family: inter;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
}

.about-content p {
  font-family: inter;
  font-size: 1.15rem;
  line-height: 30px;
  color: #525252;
}

.abut-btn {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
  
}
.call-btn{
 text-decoration: none;
  color: #0fab5f;
  font-family: inter;
  font-size: 1.12rem;
  font-weight: 700;
  border-radius: 18px;
  border: solid 2px #0fab5f;
  padding: 6px 18px;
}
.call-btn p{
  color: #0fab5f;
  margin: 0;
}